:root {
    --f-main: 'Abril Fatface', cursive;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.5;
}


/* Animations */
.animate__animated.animate__fadeInDown {
    --animate-duration: 2s;
}

@keyframes fade-right {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* UTIl */
.h-primary {
    font-family: 'Shadows Into Light', cursive;
    font-size: 3rem;
    color: rgb(0, 0, 0);
    padding-top: 10px;
}

@media (min-width:576px) {
    .carousel-inner {
        display: flex;
    }

    .carousel-item {
        display: block;
        margin-right: 0;
        flex: 0 0 calc(100%/3);
    }

    .img-wrapper {
        height: 23vh;
    }

}

/* ---NAVBAR--- */
.navbar .navbar-nav .nav-item a,
.dropdown-menu a {
    padding: 15px;
    color: white;
    font-family: cursive;
}

.active {
    border: none;
    border-bottom: 0.2rem solid rgb(255, 255, 255);
}

.navbar .navbar-nav .nav-item a:hover,
.navbar .navbar-nav .nav-item a:focus {
    border: none;
    border-bottom: 0.2rem solid rgb(255, 255, 255);
    color: #5AA897;
}

.nav-but {
    padding: 0 2px;
    display: block;
}

.logo {
    padding: 5px;
    font-family: cursive;
    font-weight: 550;
    font-size: 1.5rem;
    color: #5AA897;
    position: relative;
    top: 4px;
}

.profile-image-holder {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(27, 176, 221);
    display: none;
}


/* ---TOP BUTTON--- */
.btn-top {
    position: fixed;
    right: 15px;
    bottom: 15px;
    z-index: 999;
}

/* ---HOME SECTION--- */
.home-section {
    min-height: 80vh;
    background-image: url('https://images.pexels.com/photos/583842/pexels-photo-583842.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    width: 100%;
}

.main-header {
    text-align: center;
    font-size: 4rem;
    font-family: var(--f-main);
    text-align: left;
    padding-left: 16%;
    padding-top: 5%;
    color: #FFD93D;
}

.home-para {
    width: 70%;
    margin: auto;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    color: #423F3E;
}

.download-btns {
    padding-left: 12%;
    padding-top: 1%;
}


.founder-info {
    display: inline;
    padding-left: 12%;
    padding-top: 3%;
}


.Subscribe {
    display: grid;
    place-items: center;
}

.text-sub-right {
    font-family: 'Monomaniac One', sans-serif;
    color: #fff;
    overflow: hidden;
}

.input-group {
    width: 70%;
    margin-top: 8%;
}


/* ---TRAINING SECTION--- */

#training {
    display: block;
}

.codex-training {
    background-color: #27374D;
    padding: 3%;
    height: inherit;
}

.codex-training .training-text {
    font-family: 'Lucida Sans';
    font-size: 2rem;
    color: #fff;
    display: inline;
}

/* ---COURSE SECTION--- */
.carousel-inner {
    padding: 1rem;
}

.img-wrapper {
    max-width: 100%;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.card {
    margin: 0 .5em;
    overflow: hidden;
}

.card > .card-body{
    display: grid;
    align-items: flex-end;
    padding: 1.5rem 2rem;
    background-image: linear-gradient(
        to bottom,
        rgb(33 44 55 /0),
        rgb(33 44 55 /0),
        rgb(33 44 55 / 0.75)
    );
}

.card .card-body{
    opacity: 1;
}

.card-body {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 50px;
    width: 50px;
    outline: black;
    background-color: rgba(0, 0, 0, 0.3);
    background-size: 100%, 100%;
    border-radius: 50%;
    border: 1px solid black;
}

/* Profile Page*/
.popup {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.popup-content {
    background-color: #fff;
    box-shadow: 1px 1px 5px 2px #FFFFFF;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.login-pop-text {
    font-family: 'Righteous', cursive;
    font-size: 3rem;
    color: #000;
    display: inline;
}

.unknown-user {
    margin-bottom: 8%;
    margin-left: 15%;
}

.login-inputs {
    padding: 2%;
    margin: 3%;
    width: 90%;
    border-radius: 7px;
    background: 0px 0px;
    border: none;
    outline: none;
    position: relative;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(34, 229, 255, 0.575);
    border-radius: 0px;
    color: #000;
    font-family: 'Source Code Pro', monospace;
}

.username-img {
    position: relative;
}

.image-input input[type="text"] {
    padding-right: 30px;
    /* Space for the image */
}

.username-img img {
    position: absolute;
    top: 45%;
    right: 5px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
}

.forgot-pass {
    float: right;
    text-decoration: none;
    color: #000;
}

.forgot-pass:hover {
    color: #ff9900;
}

.Learning {
    min-height: 200px;
    background-image: url('https://images.pexels.com/photos/390394/pexels-photo-390394.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    width: 100%;
    /* background-color: #545B77; */
}

.User-Name {
    font-family: 'Righteous', cursive;
    font-size: 4.3rem;
    font-weight: 800;
    padding-left: 3%;
    padding-top: 3%;
    color: #FF0060;
}


.mini-navbar {
    border-radius: 25px;
    margin-left: 2%;
    margin-top: 2.5%;
}

.mini-navbar a {
    text-decoration: none;
    font-size: clamp(1.5rem, 2.5vw, 4rem); 
    color: #fff;
    font-size: 1.2rem;
    padding: 6px 15px;
}

.mini-navbar a:hover {
    color: black;
    background-color: aliceblue;
    border-radius: 20px;
}

.mini-navbar .mini-active {
    color: #000;
}

.mini-active {
    background-color: aliceblue;
    border-radius: 20px;
}

.fade-right {
    animation: fade-right 1s ease-in;
}

.small-cards{
    cursor: pointer;
}

.companies{
    min-height: 100px;
    background-color: #1a1a1a;
    margin-top: 3%; 
    padding:1%;
}
 
.companies .text-content{
    font-size: clamp(1.5rem, 2.5vw, 4rem); 
    color: #fff;
    text-align: center;
}

.companies .text-content .business{
    color: #5AA897;
    font-family:Arial, Helvetica, sans-serif;
}

.companies .text-content .business:hover{
    cursor: pointer;
    text-decoration: underline;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.col{
    padding: 2%;
}

/* ---Footer PAGE--- */

.footer-page{
    background-color: #1a1a1a;
    border-top: #fff;
}

.footer-row{
    width: 85%;
    margin: auto;
    padding: 6%;
}

.footer-head{
    color: white;
    font-family: var(--f-main);
}

.footer-links{
    color: #ffffffb3;
    font-family: 'Abril Fatface';
    padding: 6%;
}

.footer-links a{
    color: #fff;
    text-decoration: none;
}

hr{
    color: white;
}


.footer-email{
    padding: 7px 0px;
    width: 200px;
    border-radius: 7px;
    background: 0px 0px;
    border: none;
    outline: none;
    position: relative;
    margin-bottom: 20px;
    border-bottom: 1px solid #fff;
    border-radius: 0px;
    font-family: 'Courier New', Courier, monospace;
}


.copright-text{
    text-align: center;
    color: #fff;
    opacity: 0.7;
}

.contact-logo{
    padding: 10px;
    cursor: pointer;
    color: rgb(255, 255, 255);
}

.contact-logo:hover{
    color: rgb(236, 158, 158);
}

.small-cards p{
    color: rgb(180, 191, 191);
}

.telegram-img{
    cursor: pointer;
    filter: invert(100%);
}